#fishList {
    order: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-start;
    justify-content: flex-start;
    gap: 20px;
    max-width: 800px;
    margin: 2%;
    background-color: rgb(107, 177, 223);

}

#fishList:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}





#tipList {

    order: 2;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-end;
    max-width: 300px;
    margin: 2%;
    background-color: rgb(107, 177, 223);

}

#tipList:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

#tipList h2 {
    text-align: center;
    font-size: 24px;
    
}

#locationList {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-start;
    justify-self: flex-start;
    max-width: 800px;
    margin: 2%;
    background-color: rgb(107, 177, 223);


}

#locationList:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

