.fishTips {
    display: flex;
    justify-items: space-between; 
    align-items: flex-start;
    gap: 20px;
}


.fish {
    
    flex-grow: 1;
    max-width: 400px;
    max-height: 1000px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.fish:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

.fish__image {
    max-width: 10rem;
}

.fish__details {
    padding: 20px;
}



.fish__name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333333;
}

.fish__species {
    font-size: 14px;
    color: #666666;
    line-height: 1.5;
}

.tips {
    font-size: 18px;
    color: #666666;
    line-height: 1.5;
}

.tip {

}
.locations {
    flex-basis: 300px;
    flex-grow: 1;
    max-width: 400px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.locations:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}


 

.location   {
    padding: 20px;
    font-size: 16px;
    color: #666666;
    line-height: 1.5;
}